<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Schedule Tool</title>
  <script src="https://cdn.jsdelivr.net/npm/color-calendar/dist/bundle.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

  <link href="/css/calendar.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/color-calendar/dist/css/theme-basic.css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
</head>

<main class="mt-0">

  <nav class="navbar navbar-expand-lg navbar-light bg-light mt-0" style="width: 100vw;">
    <div class="mx-auto">
      <a class="navbar-brand" href="/">Availabilities</a>
      {{#if loggedIn}}
      <a class="navbar-brand" href="/form">Form</a>
      <button id="logout" class="btn-danger btn">Logout</button>
      {{else}}
      <button class="btn-primary btn"><a class="navbar-brand" href="/login">Login</a></button>
      {{/if}}
    </div>
  </nav>



    <div id="bigcontainer">
      {{{body}}}
    </div>
 
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

</main>

</html>