<table class="table table-striped table-dark">
  <thead>
    <tr>
      {{!-- <th scope="col">Row</th> --}}
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Day 1 Availability</th>
      <th scope="col">Day 2 Availability</th>
      <th scope="col">Day 3 Availability</th>
      <th scope="col">Day 4 Availability</th>
      <th scope="col">Day 5 Availability</th>
      <th scope="col">Day 6 Availability</th>
      <th scope="col">Day 7 Availability</th>
      <th scope="col">Day 8 Availability</th>
      <th scope="col">Day 9 Availability</th>
      <th scope="col">Day 10 Availability</th>
      <th scope="col">Day 11 Availability</th>
      <th scope="col">Day 12 Availability</th>
      <th scope="col">Day 13 Availability</th>
      <th scope="col">Day 14 Availability</th>
    
    </tr>
  </thead>
  <tbody>
    
{{#each employees as |emp|}}
{{> employees}}
{{/each}}
    
  </tbody>
</table>



