<div class="row justify-space-between-md container">
  <div class="login-card container">
    <h2 class="page-title">Login</h2>
    <form class="form login-form container">
      <ul>
        <div class="form-group">
          <label for="email-login">Email:</label>
        </div>
        <div class="form-group">
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
        </div>
        <div class="form-group">
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Log In</button>
          {{!-- <a href="/form">Form</a> --}}
        </div>
      </ul>
    </form>
  </div>
  <div class="login-card container">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form container">
      <ul>
        <div class="form-group">
          <label for="email-signup">Email:</label>
        </div>
        <div class="form-group">
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">Password:</label>
        </div>
        <div class="form-group">
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </ul>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>